.category-card {
    margin-top: 120px;
    margin-left: 40px;
    margin-bottom: 200px;

}

.input-category-field {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    justify-items: center;
}

.text-form-control , .textarea-form-control {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #bf4343;
    border-radius: 4px;
    width: 75%;
    display: block;
    margin-bottom: 30px;
    margin-right: 30px;
}

.checkbox-form{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.checkbox-gr {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 260px;
    /*margin-left: 50px;*/
}
.img_btn {
    margin: 20px auto;
}

.category-summit-btn {

    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.category-card-header h4 {
    text-align: center;
    font-size: 30px;
    color: #fffffe;
}


.category-field label {
    font-size: 20px;
    color: #3F979B;
    min-width: 200px;
}
