.view-order-container {
    margin: 100px 0;
}

.view-order-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    max-width: 800px;
}

.card-header {
    background-color: #4CAF50;
    color: white;
    font-size: 25px;
}

.order-details {
    padding-top: 10px;
}

.border {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.float-end {
    float: right;
}

.space_little {
    margin: 10px;
}

.order-status-label {
    margin-right: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #C92C6D;
}
