.admin-container {
    margin-top: 120px;
    min-height: 70vh;
}

.row-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.admin-content-card {
    box-shadow: 0px 0px 10px #ccc;
    border: none;
    border-radius: 4px;
    text-align: center;
    width: 20%;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.name_shop {
    margin-left: 20px;
    font-size: 50px;
    color: #ea1717;
}

ol.breadcrumb {
    margin-left: 20px;
    color: #40ab34;
}


