.user_field {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

.row-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-table {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 2px;
}

.field_name {
    font-size: 20px;
    font-weight: bold;
    color: #CD5888;
    margin-top: 20px;
}
