.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid #333;
    width: 95%;
    margin: 120px auto 50px;
}

.card-header {
    background-color: #5B8FB9;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

table, th, td {
    border: 1px solid #bf4343;
    border-collapse: collapse;
    height: 70px;
    padding: 20px;
    margin: 25px auto 50px;
}

.cate-image {
    width: 50px;
    height: 50px;
}

.cate-btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}

.btn-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.btn-danger {
    background-color: red;
    color: #fff;
}


.btn-group {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

a.btn-order-history {
    margin: 10px 20px;
    text-decoration: none;
    color: #F9F54B;
}
