* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #343a40;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

@media (max-width:800px) {

    .navbarNav {
        display: none !important
    }
}

@media (min-width:800px) {
    .menu_onclick {
        display: none;
    }
}

li.nav-item.dropdown {
    inline-size: max-content;
}

.menu_onclick {
    position: absolute;
    right: 20px !important;
    top: 20px !important;
    font-size: 18px;
}

.fa-bars {
    color: white;
}

.container {
    width: 100%;
    display: flex;
    width: 100%;
}

.navbar .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
}

.location-change {
    margin: 13px 0;
}

.navbar .navbar-brand:hover {
    color: #ceefcb;
}

.search-bar {
    width: 50%;
    margin-left: 20%;
    line-height: 60px;
}

.search-bar form {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.search-bar form input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-bar form button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    color: #040404;
}

.search-bar form button:hover {
    color: #274666;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 60px;
}

.navbar ul li {
    margin-right: 30px;
    position: relative;
    text-align: center;
}

.navbar ul li a:hover {
    color: #ffffff;
}

.navbar ul li .badge {
    position: absolute;
    right: -20px;
    /* top: -10px; */
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    line-height: 17px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.category_home.change-space {
    margin-top: 38px;
}

a.nav-link {
    color: antiquewhite;
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline-width: 0
}

.navbar ul li .dropdown-menu {
    background-color: #343a40;
    position: absolute;
    top: 60px;
    right: 0;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 0px 10px #333;
}

.navbar ul li .dropdown-menu .dropdown-item {
    color: #fff;
    text-align: center;
}


.navbar ul li .dropdown-menu .dropdown-item:hover {
    color: #c36969;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
}

@media (max-width: 800px) {
    .navbar ul {
        display: none !important;
    }

    .dropdown-menu {
        display: none !important;
    }

    .navbar .navbar-brand {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        line-height: 60px;
        padding-right: 10px;
    }

    .search-bar {
        width: 40%;
        margin-left: 5px;
    }

    .search-bar form input {
        width: 200px;
        height: 35px;
        padding: 0 20px;
        border-radius: 20px;
        border: none;
        outline: none;
    }
}

@media (max-width: 1200px) and (min-width: 800px) {
    * {
        font-size: 15px !important;
    }

    .navbar .navbar-brand {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;
        padding-right: 10px;
    }

    .search-bar {
        width: 50%;
        margin-left: 20px;
    }

    .search-bar form input {
        width: 250px;
        height: 35px;
        padding: 0 20px;
        border-radius: 20px;
        border: none;
        outline: none;
    }

}

/* @media (max-width: 1200px) and (min-width: 801px) {

} */
.padding-large {
    padding: 12px 24px !important
}

.toolbar-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.toolbar-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}


.toolbar-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.toolbar-top {
    position: fixed;
    width: 30%;
    z-index: 1;
    right: 0%;
    top: 10px;
}

@media (max-width:800px) {
    .hide-medium {
        display: none !important
    }
}

.toolbar-hide {
    display: none !important
}

.toolbar-black {
    color: #fff !important;
    background-color: #343a40 !important
}

.toolbar-bar .toolbar-button {
    white-space: normal;
}

.toolbar-bar:before,
.toolbar-bar:after {
    content: "";
    display: table;
    clear: both
}

.toolbar-show {
    display: block !important
}

@media (min-width:800px) {

    .hide-large {
        display: none !important
    }
}
