.order-container {
    width: 80%;
    margin: 0 auto;
    height: 500px;
}
.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    overflow: hidden;
    margin: 60px auto;
    max-width: 80%;
    min-height: 400px;
}

.card-header {
    background-color: #18c6ba;
}

.table-bordered {
    border: 1px solid #ddd;
    width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
    padding: 10px;
}

.btn-primary {
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}
