.top{
    margin-top: 100px;
  }

  .rating-modal{
    margin-top: 100px;
    width: 550px;
    height: 200px;
    border: 2px solid rgb(104, 103, 103);
    background-color: rgb(235, 242, 242);
    border-radius: 10px;
    padding: 15px;
  
  }
  .rating-modal-header{
    display: flex;
    justify-content: space-between;
  }
  .rating-modal-footer{
    display: flex;
    justify-content: end;
  }
  .content-product{
    display: block;
  }
  .product-info{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .product-img {
    width: 33,33%;
  }
  .product-detail {
    margin-left: 30px;
  }
  .margin-bottom{
    margin-bottom: 20px;
  }
  .quantity{
    display: flex;
    justify-content:left;
  }
  .select-quantity {
    width: 100px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
  }
  .stock{
    color: rgb(112, 111, 111);
  }
  .add-to-cart{
    width: 160px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(243, 85, 11);
    color: #ffffff;
    margin-right: 30px;
  }
  .add-to-wishlist{
    width: 180px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(240, 226, 220);
    color: #f83403;
    border: 2px solid #f83403;
  }
  .description{
    width: 50%;
  }
  .review{
    border: 1px solid rgb(172, 169, 169) ;
    border-radius:10px;
    padding: 10px;
    width: 50%;
  }
  .review-private{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }
  .rate-this-product{
   background-color: rgb(27, 2, 251);
   border-radius: 5px;
   text-align: center;
   width: 280px;
  }
  .write-review{
   border: 1px solid  rgb(27, 2, 251) ;
   border-radius: 5px;
   text-align: center;
   padding: 10px;
   width: 280px;
  }